.main_text {
  color: var(--khaki);
  margin-bottom: 1em;
  font-family: var(--secondary-font);
  font-size: 2em;
  position: relative;
}

.main_text a {
  color: var(--white);
  text-decoration: none;
  animation: colorChange 5s ease-in-out infinite;
  border-radius: 2px;
}

@keyframes colorChange {
  0% {
    background-color: black;
  }

  100% {
    background-color: rgb(21, 21, 21);
  }
}

.hi_text {
  text-align: center;
}

.main_text span:hover {
  color: var(--white);
}

@media (max-width: 576px) {
  .main_text {
    font-size: 1em;
  }
}
