.box-container {
  margin: 0 auto;
  width: 60vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 1em;
  height: 1em;
  background-color: var(--white);
}

.rounding {
  margin: 0 1em;
}
