.box-container {
  margin: 0 auto;
  width: 60vh;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  width: 5em;
  height: 5em;
  background-color: var(--white);
}
.box-rotating {
  justify-self: flex-end;
}
