.circle {
  width: 95%;
  height: 10vh;
  position: relative;
  margin-bottom: 2em;
}

.rotating_text_container {
  position: absolute;
  width: 1em;
  height: 1em;
  bottom: 1em;
  right: 1em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotating_text {
  position: absolute;
  height: 20vh;
  animation: rotateText 20s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.rotating_text span {
  color: var(--black);
  position: absolute;
  left: 50%;
  font-size: 1em;
  transform-origin: 0 4em;
  font-family: var(--RubicGlitch);
  background-color: var(--yellow);
}
