/* Hamburger Menu */
i {
  width: 1.8em;
  height: 0.2em;
  background-color: var(--white);
  border-radius: 0.7em;
  transition: 0.8s;
  display: block;
  transition-timing-function: cubic-bezier(0.33, 0.7, 1, -1.47);
}

.hamburger_container {
  padding: 2em;
  position: relative;
  margin-left: auto;
}

.hamburger:last-child {
  transform: translateY(0.4em);
}

.hamburger:last-child:hover {
  transform: translateY(-0.8em);
  color: var(--khaki);
}
.hamburger:first-child:hover {
  transform: translateY(-0.8em);
  color: var(--khaki);
}

.cross:first-child {
  transform: rotate(-45deg) translateY(0.15em);
}

.cross:last-child {
  transform: rotate(45deg) translateY(-0.15em);
}

.cross:hover {
  color: var(--yellow);
}
