/* Hamburger Menu */
i {
  width: 1.8em;
  height: 0.2em;
  background-color: var(--white);
  border-radius: 0.7em;
  transition: 0.8s;
  display: block;
  transition-timing-function: cubic-bezier(0.33, 0.7, 1, -1.47);
}

.hamburger_container {
  padding: 2em;
  position: relative;
  margin-left: auto;
}

.hamburger_container:hover {
  cursor: pointer;
}

.hamburger:last-child {
  transform: translateY(0.4em);
}

.hamburger:last-child:hover {
  transform: translateY(-0.8em);
  color: var(--khaki);
  cursor: pointer;
}
.hamburger:first-child:hover {
  transform: translateY(-0.8em);
  color: var(--khaki);
  cursor: pointer;
}

.cross:first-child {
  transform: rotate(-45deg) translateY(0.15em);
}

.cross:last-child {
  transform: rotate(45deg) translateY(-0.15em);
}

.cross:hover {
  background-color: var(--white);
  cursor: pointer;
}

@media (max-width: 576px) {
  i {
    width: 0.9em;
    height: 0.1em;
    background-color: var(--white);
    border-radius: 0.7em;
    transition: 0.8s;
    display: block;
    transition-timing-function: cubic-bezier(0.33, 0.7, 1, -1.47);
  }

  .hamburger_container {
    padding: 0.5em;
  }

  .hamburger:last-child {
    transform: translateY(0.4em);
  }

  .hamburger:last-child:hover {
    transform: translateY(-0.4em);
    color: var(--khaki);
    cursor: pointer;
  }
  .hamburger:first-child:hover {
    transform: translateY(-0.4em);
    color: var(--khaki);
    cursor: pointer;
  }

  .cross:first-child {
    transform: rotate(-45deg) translateY(0.075em);
  }

  .cross:last-child {
    transform: rotate(45deg) translateY(-0.075em);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}
