header {
  display: flex;
  padding: 0.1em 6em;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
  width: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  line-height: 1em;
  font-family: var(--RubicGlitch);
  text-decoration: none;
  color: var(--khaki);
  font-size: 2em;
}

.logo:hover {
  color: var(--yellow);
}

@media (max-width: 576px) {
  header {
    padding: 0.1em 1em;
    margin-top: 0.5em;
  }

  .logo {
    line-height: 0.5em;
    font-size: 0.5em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}
