header {
  display: flex;
  padding: 0.1em 6em;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo where EA is */
.logo {
  line-height: 1em;
  font-family: var(--RubicGlitch);
  text-decoration: none;
  color: var(--khaki);
  font-size: 2em;
}

.logo:hover {
  color: var(--yellow);
}
/* logo where EA is */
