/* Navigation Links */
.nav-list {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  margin-right: 3em;
}

.nav-list-item {
  text-transform: uppercase;
  padding: 0.1em 0.3em;
  margin-right: 0.5em;
}

.navLinks {
  color: var(--khaki);
  text-decoration: none;
  font-size: 1.2em;
  font-family: var(--secondary-font);
  transition: 0.5s;
}

.navLinks:hover {
  color: var(--yellow);
}

.navLinks-active {
  color: var(--yellow);
  text-decoration: var(--yellow) underline;
}

@media (max-width: 576px) {
  .nav-list {
    margin-bottom: 0;
    margin-right: 0.5em;
  }

  .nav-list-item {
    padding: 0.1em 0.3em;
    margin-right: 0.5em;
  }

  .navLinks {
    color: var(--khaki);
    text-decoration: none;
    font-size: 0.5em;
    font-family: var(--secondary-font);
    transition: 0.5s;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}
