.contact_me_container {
  margin: 0.8em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--khaki);
  font-family: var(--secondary-font);
  font-size: 3em;
  height: 50vh;
}
.contact_me_paragraph {
  text-align: center;
}

.contact_me_email a,
.contact_me_paragraph a {
  text-decoration: none;
  color: var(--white);
}

.contact_me_email a:hover,
.contact_me_paragraph a:hover {
  color: var(--yellow);
}

@media (min-width: 100px) and (max-width: 299px) {
  .contact_me_container {
    margin: 2em 1em 1em;
    font-size: 1em;
    height: 50vh;
  }

  .contact_me_email {
    font-size: 1em;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .contact_me_container {
    margin: 2em 0 1em;
    font-size: 1.2em;
    height: 50vh;
  }
}

/* Medium devices (tablets, 767px and up) */
@media (min-width: 577px) and (max-width: 767px) {
  .contact_me_container {
    margin: 1em 4em 1em;
    font-size: 2em;
    height: 50vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  .contact_me_container {
    margin: 1em 3em 1em;
    font-size: 2.5em;
    height: 50vh;
  }
}
