.contact_me_container {
  margin: 0.8em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--khaki);
  font-family: var(--secondary-font);
  font-size: 3em;
  height: 50vh;
}
.contact_me_paragraph {
  text-align: center;
}

.contact_me_email a {
  text-decoration: none;
  color: var(--white);
}

.contact_me_email a:hover {
  color: var(--yellow);
}

@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}
