@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
/* Custom css resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Custom css resets */

:root {
  /* Color palette varibales */
  --black: #020301;
  --yellow: #ffdc15c3;
  --khaki: #b5a197;
  --white: #f3f5f9cb;

  /* Fonts */
  --RubicGlitch: "Rubik Glitch", cursive;
  --secondary-font: "Orbitron", sans-serif;
}

body::selection {
  background-color: var(--yellow);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  min-height: 100%;
}

body {
  background-color: var(--black);
  position: relative;
  width: 100%;
  min-height: 100%;
  letter-spacing: 1px;
}

main {
  min-height: 100%;
  margin-bottom: -3em;
}

main::after {
  content: "";
  display: block;
  height: 3em;
}

::selection {
  background-color: var(--yellow);
  color: var(--black);
}

.spinner {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%);
}
