@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
/* Custom css resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Custom css resets */

:root {
  /* Color palette varibales */
  --black: #020301;
  --yellow: #ffdc15c3;
  --khaki: #b5a197;
  --white: #f3f5f9cb;

  /* Fonts */
  --RubicGlitch: "Rubik Glitch", cursive;
  --secondary-font: "Orbitron", sans-serif;
}

body::selection {
  background-color: var(--yellow);
}

body {
  background-color: var(--black);
  position: relative;
  width: 100%;
  height: 100%;
}

::selection {
  background-color: var(--yellow);
  color: var(--black);
}

.spinner {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}
